body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: azure;
    padding: 0;
}

.container{
    text-align: center;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    width: 410px;
    box-shadow: 0px  5px 5px gray;
    margin: 0 auto;
    padding-top: 20px;
}

.email input ,.password input{
    height: 37px;
    width: 360px;
    box-shadow: 0px 1px 1px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;  
}

input:hover{
    border-color: blue;
    transition: 0.5s ease;
    outline: none;
}

.login{
    width: 370px;
    height: 48px;
    background-color:#1877f2;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px; 
    border-color: aliceblue;
}

button{
    border-radius: 6px;
}

a{
    text-decoration: none;
}

.accountt button{ 
    height: 50px;
    width: 200px;
    background-color: rgb(51, 162, 51);
    font-size: 15px;
    color:white;
    font-weight: 600;
    box-shadow: 0px 1px 1px;
    border-color: aliceblue; 
}

 button:hover{
        background-color: rgb(241, 13, 13);
        transition: 0.5s ease;
    }

.container2{
    width: 100%;
   max-width: 450px;
    height: auto;
    box-shadow: 0px 5px 5px gray;
    display: flex;
   flex-direction: column;
   margin:  0 auto;
   padding: 6px 12px;
   margin-bottom: 30px;
   background-color: white;
}
p,h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    justify-content: cente;
    align-items: center;
}
.form input{
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 40px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 6px ;
    border: #dddfe2 solid 2px;
}
.form3 input{
    width: 100%;
    border-radius: 6px;
    max-width: 420px;
    border: #dddfe2 solid 2px;
    height: auto;
    max-height: 40px;
   padding: 10px;
    margin: 5px ;
    font-size: 16px;
}
.form1{
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
}
 select{
     padding: 10px;
    gap: 4px;
    width: 100%;
    margin-right: 15px;
    border-radius: 4px;   
    border: 2px solid #ccd0d5 ;
    margin: 6px;
    color: #5f646b;
    font-size: 16px;
}
.form2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.form2 label{
    border: 2px solid #ccd0d5;
    padding: 10px;
    width: 100%;
   margin: 6px;
    color: #545960;
    border-radius: 6px;
    font-size: 16px;
}
.terms{
    font-size: 13px;
    color: #606770;
    margin-bottom: 5px;
    display: inline;
}
.term2, a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(106, 101, 101);
}
.term2:hover{
    text-decoration: underline;
}
label{
    font-size: 12px;
    color: #4b4f56;
    padding: 5px;
}
.btn{
    text-align: center;
}
.signup{
    width: 100%;
    max-width: 130px;
    height: 40px;
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    border-color: aliceblue;
}
.footer, .footer a{
    text-align: center;
    color: #0e18c9;
    margin: 5px;
    font-size: 17px;
}

@media screen { and (max-width: 500px) {
    .container, .container2{
        width: 90%;
        box-shadow: none;
    }
    .email input, .password input, .login, .accountt button, .form input, .form3 input, .signup{
        width: 100%;
        max-width: 100%;
    }
    
}}