body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: azure;
    padding: 0;
    height: 100vh;
    width: 100%;
    border-radius: 40%;
    box-shadow: 0px  5px 3px gray;
}
.container{
    text-align: center;
    border-radius:10px 100px 10px;
    background-color: white;
    height: 450px;
    width: 480px;
    box-shadow: 0px  5px 5px gray;
    margin: 0 auto;
    padding-top: 20px;
   
}
img{
   margin-bottom: 40px;
}
p{
    text-align: center;
}
.name input ,.rollno input{
    height: 37px;
    width: 360px;
    box-shadow: 0px 1px 1px;
    border: 1px solid #dddfe2;
    border-radius: 6px 60px;
    font-size: 20px;
   padding: 20px;
    margin-bottom: 10px;  
}

input:hover{
    border-color: rgb(214, 72, 36);
    transition: 0.5s ease;
    outline: none;
}

.login{
    width: 200px;
    height: 48px;
    background-color:#61748d;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px; 
    border-color: aliceblue;
    border-radius: 50px 10px ;
}

button{
    border-radius: 6px;
}

a{
    text-decoration: none;
}

.accountt button{ 
    height: 50px;
    width: 200px;
    background-color: rgb(51, 162, 51);
    font-size: 15px;
    color:white;
    font-weight: 600;
    box-shadow: 0px 1px 1px;
    border-color: aliceblue; 
    border-radius: 10px 50px ;
}

 button:hover{
        background-color: rgb(241, 13, 13);
        transition: 0.5s ease;
    }
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    height: 100vh;
}

/* Logo */
.logo h1{
    margin-top: 20px;
}